h1{
    text-align:center;
}
h2{
    
    color: rgb(255, 255, 255);
    background-color: rgb(143, 92, 143);
}
li{
    display: inline;
    padding: 10px;
    background-color: plum;
}
li+li{
    background-color: red;
}
li+li+li{
    background-color: blue;
}
li+li+li+li{
    background-color: orange;
}
p{
    text-align: justify;
    margin: auto;
}
.mangoftacai{
    width: 300px;
    height: 300px;
    
}
.bolacai{
    width:350px;
    height:300px;
}
.mangui{
    width: 350px;
    height: 300px;
}
figure{
    text-align: center;
}
body{
    margin: 30px;
}
